<div class="container shadow p-4 my-4 bg-white rounded">
    <div class="row" style="color: #550101;">
        <div>
            <h1 class="fw-bold" style="color:#550101;">Agregar Clase</h1>
            <p class="text-muted"> Añadir nueva clase al sistema.  </p>
        </div>
        <div class="mb-3 p-2">
            <label for="Maestro" class="form-label"> Maestro: </label>
            <select class="form-select" [(ngModel)]="clase.maestroId" name="maestroId">
                <option *ngFor="let maestro of maestros" [value]="maestro.id">{{ maestro.nombre }}</option>
            </select>
        </div>
        <div class="mb-3 p-2">
            <label class="form-label">Materia</label>
<select class="form-select mb-3" [(ngModel)]="clase.materiaId">
  <option [ngValue]="null">Seleccione una materia</option>
  <option *ngFor="let materia of materias" [ngValue]="materia.id">
    {{ materia.nombre }}
  </option>
</select>
        </div>
        <div class="mb-3 p-2">
            <label class="form-label">Semestre</label>
<select class="form-select mb-3" [(ngModel)]="clase.semestre">
  <option value="">Seleccione semestre</option>
  <option value="1">1°</option>
  <option value="2">2°</option>
  <option value="3">3°</option>
  <option value="4">4°</option>
  <option value="5">5°</option>
  <option value="6">6°</option>
</select>
        </div>
        <div class="mb-3 p-2">
            <label class="form-label">Grupo</label>
<select class="form-select mb-4" [(ngModel)]="clase.grupo">
  <option value="">Seleccione grupo</option>
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="D">D</option>
  <option value="E">E</option>
  <option value="F">F</option>
  <option value="G">G</option>
  <option value="H">H</option>
  <option value="I">I</option>
  <option value="J">J</option>
  <option value="K">K</option>
</select>

        </div>
        <div class="mb-3 p-2">
            <label>Días de la semana</label>
  <div class="d-flex gap-3 mb-3">
    <div *ngFor="let dia of ['Lunes','Martes','Miércoles','Jueves','Viernes']">
      <input type="checkbox" [checked]="clase.dias.includes(dia)" (change)="toggleDia(dia)"> {{ dia }}
    </div>
  </div>
    </div>
    <div><button type="button" class="btn text-white rounded-pill px-4 mx-2 w-100" style="background-color:#ff0048;" (click)="guardarClase()"> <i class="bi bi-collection"></i> Guardar Clase</button></div>
    </div>
</div>

