<div class="container shadow p-4 my-4 bg-white rounded">
    <div class="col bg-primary">
        <div>
            <h1>Eliminar Servicio</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="shadow-lg p-4 bg-dark text-white" *ngIf="modulobaja">
        <div class="text-center">
            <h5> ID: {{ID}} </h5>
        </div>
        <div>
            <label for="fecha" class="form-label">Fecha de baja</label>
            <input type="date" class="form-control" [(ngModel)]="fechaBaja">
        </div>
        <div>
            <label for="motivo" class="form-label">Motivo de baja</label>
            <input type="textarea" class="form-control" [(ngModel)]="motivoBaja">
        </div>
        <div class="">
            <button class="btn btn-primary btn-sm m-3" (click)="baja()">Baja</button>
            <button class="btn btn-secondary btn-sm m-3" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
    <div class="">
        <div>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-dark"
                >
                    <thead>
                        <tr>
                            <th scope="col">Equipo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicio of servicios">
                            <td>{{ servicio.equipo}}</td>
                            <td>{{ servicio.dsecripcion}}</td>
                            <td>{{ servicio.ubicacion}}</td>
                            <td>{{ servicio.estado}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="bajaServicio(servicio.id)">
                                    eliminar el servicio
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div></div>
    </div>
</div>
