<div class="container mt-4 text-center shadow bg-white rounded">
    <h1 class="fw-bold">𝙲𝚕𝚊𝚜𝚜𝚛𝚘𝚘𝚖</h1>
    <p class="text-muted">Sistema de gestión escolar</p>
</div>
<div class="container mt-4 text-center shadow bg-success rounded p-4">
    <img src="escuela.jpeg" alt="Dashboard Image" class="img-fluid" style="max-height: 400px;">
</div>
<div class="container shadow mt-4 p-4 text-center bg-white rounded">
    <button class="btn text-white rounded-pill px-4 mx-2" style="background-color:#ff69b4;"><i class="bi bi-book-fill"></i> Administración de Catálogos</button>
    <button class="btn text-white rounded-pill px-4 mx-2" style="background-color:#8e44ad;"><i class="bi bi-folder-plus"></i> Crear Clase</button>
    <button class="btn text-white rounded-pill px-4 mx-2" style="background-color:#ff8c00;"><i class="bi bi-person-fill-add"></i> Registro de Alumnos</button>
</div>